@font-face
{
	font-family: 'themify';
	src: url('../fonts/themify.ttf');

}
@font-face
{
	font-family: "Lato";
	src: url("../fonts/Lato-Black.ttf");
}
@font-face
{
	font-family: "lato-regular";
	src: url('../fonts/Lato-Regular.ttf');
}
@font-face
{
	font-family: "lato-Italic";
	src: url("../fonts/Lato-Italic.ttf");
}
@font-face
{
	font-family: "vnf-quicksand";
	src: url('../fonts/vnf-quicksand-bold.ttf');
}

@media (min-width: 320px)and (max-width: 768px){
	body{
		background: #e7e7e7;
		/*width: 320px;*/

	}
}

body{
	margin:0;
	padding:0;
}
@media (min-width: 770px ){}
#layout
{
	width:100%;
}


.layout-sub
{
	position: relative;
	width: 50%;
	height: 680px;
	float:left;
}
.layout-sub>img
{
	width:100%;
	height:100%;
}



.menu
{
	width:100%;
	height:;
	position: absolute;
	position: fixed;
	top: 3px;
	display: flex;
}

.menu-left
{
	display: flex;
	height:;
	width: 50%;

}
.menu-right
{
	display: flex;
	height: 35%;
	width: 50%;
	position: relative;
}
#icon-hapo
{
	width: 12%;
	height: ;
	margin: 10px;

}
#icon-hapo>a>img
{
	width: 100%;
	height: 100%;
}

.nav-menu
{
	width: 9%;
	height: ;
	padding-top: 12px;
	margin-left:5px;
	text-align: center;
}

.nav-menu>a
{
	font-family: lato-regular;
	font-size: 11.5px;
	color:#673ab7;
	text-align: center;
	text-decoration: none; 	
}

.nav-menu>a:hover
{
	color: red;
	text-decoration:none;
}


.button-nav
{
	display: inline-block;
	width: auto;
	padding: 6px 12px;
	border-radius: 20px;
}

.button-nav.login
{
	height: 90%;
	margin-left: 58%;
	margin-top:1%;
}

.button-nav.register
{
	margin-left:5px;
	margin-top: 6px;
	width: 85px;
	height: 20px;
	background: #00bcd4;
}

.span-lato-blue
{
	text-decoration: none;	
	color: #00bcd4;
	font-family: lato-regular;
	font-size:14px;	
}
.span-lato-white
{
	text-decoration: none;	
	color: #ffffff;
	font-family: lato-regular;
	font-size:14px;
}
.button-icon
{
	margin-top: 1.6%;
	margin-left: 2%;
}

.button-icon>a>span
{
	color:#673ab7;
	font-size: 22px;
	font-weight: bold;
}
.button-icon>a
{
	text-decoration: none;
}

#content
{
	position: relative;
	width: 60%;
	height: 85%;
	margin-left: 25%;
	margin-top:15%;
	
}

#img-hapojc
{
	width: 55%;
	height: 60px;
	background-image: url('../fonts/logo.png');
	background-size: 100% 100%;
}

#content1
{
	position: relative;
	width: 100%;
	margin-top: 40px;
	letter-spacing: 0.2px;
}
span#summer{
	color: #00bcd4;
	font-size: 32px;
	font-family: vnf-quicksand;
}
#fill-content-reg-top
{
	position: absolute;
	width: 60px;
	height: 15px;
	background: #00bcd4;
	top: -15px;
	left: -60px;
	border-radius: 20px;
}

#fill-content-small-top
{
	position: absolute;
	width: 25px;
	height: 15px;
	background: #f44336;
	top: 5px;
	left: -28px;
	border-radius: 20px;
}

#fill-content-reg-bot-top
{
	position: absolute;
	width: 65px;
	height: 15px;
	background: #00bcd4;
	bottom: 20px;
	right: 0;
	border-radius: 20px;
}

#fill-content-reg-bot-bot
{
	position: absolute;
	width: 65px;
	height: 15px;
	background: #ffc107;
	bottom: -5px;
	right: 15px;
	border-radius: 20px;
}

#fill-content-small-bot
{
	position: absolute;
	width: 25px;
	height: 15px;
	background: #f44336;
	bottom: 0;
	right:90px;
	border-radius: 20px;
}

.fill-image
{
	position: absolute;
	bottom: 40px;
	left:20px;
	width: 160px;
	height: 15px;
}

.fill-image-reg
{
	width: 45%;
	height: 15px;
	border-radius: 20px;
	background: #00bcd4;
	float: left;
}

.fill-image-circle
{
	width: 12px;
	height: 12px;	
	margin-left: 10px;
	border-radius: 50%;
	float:left;
}

.fill-image-circle.circle-left{border: 3px solid #e91e63;}
.fill-image-circle.circle-mid{border: 3px solid #b1d136;}
.fill-image-circle.circle-right{border: 3px solid #ffc107;}

#content2
{
	width: 100%;
	height: 120px;
	margin-top: 60px;
	text-align:justify;
}
#content2>span
{
	font-family: lato-regular;
	color:#673ab7;
	font-size: 13px;
}

#Select
{
	width: 80%;
	height: 60px;
	margin-top: 20px;
	display: flex;
}

#next
{
	width: 40%;
	height: 30px;
	border:2px solid;
	padding-top:10px;
	text-align: center;
	border-radius: 20px;
	border-color: #673ab7;
}
#next>a
{
	font-family: Lato;
	color: #673ab7;
	font-size: 13px;
	text-decoration: none;
}

#learn
{
	width: 60%;
	height: 30px;
	margin-left: 10%;
	text-align: center;
	padding-top: 10px;
	border-radius: 20px;
	background-color: #e91e63;
}
#learn>a
{
	font-family: Lato;
	color: #ffffff;
	font-size: 13px;
	text-decoration: none;
}


#bot-support
{
	width: 95%;
	position: relative;
	position: absolute;
	position: fixed;
	bottom: 3%;
}

#bot-support>button
{
	border-style: none;
}

#support
{
	width:100px;
	margin-left: 97%;
	border-radius: 20px;
	background-color: #ffc107;
	text-align: center;
	padding:8px 5px;
}

#support>a:hover
{
	color: red;
	text-decoration: none;
}

span.ti-help-alt
{
	font-size: 15px;
}
#support>a
{
	text-decoration: none;
}
#support>a>span
{
	font-family: lato-regular;
	font-weight: bold;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
}

.but-prev
{
	position: absolute;
	left:10px;
	top:40%;
	border-radius: 15px;
	border: 2px solid #00bcd4;
	padding: 2px 5px;
}
.but-prev>span
{
	color:#00bcd4;
}
span.ti-arrow-left,span.ti-arrow-right
{
	font-size: 12px;
}

.but-next
{
	position: absolute;
	right:10px;
	top:40%;
	border-radius: 15px;
	border: 2px solid #e91e63;
	padding: 2px 5px;
	background: #e91e63;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.but-next.teacher-next
{
	position: absolute;
	right: -17%;
}

.but-next>span
{
	color:#ffffff;
}

span>.ti-arrow-right
{
	font-size: 12px
}

.but-circle
{	
	position: relative;	
	position: absolute;
	bottom: 0px;
	width:38px;
	height: 38px;
	border-radius: 50%;
	background: #00bcd4;
	left: 1%;
}

.but-circle-arrow
{
	width: 80%;
	padding: 25%;
}
.but-circle-arrow>.ti-angle-double-up
{
	font-size: 18px;
	color:white;
}

#course-layout
{
	width:100%;
	padding-top:20px;
	height: 690px;
	position: relative;
	float: left;
}

#course-box
{
	width: 95%;
	margin:auto;
	margin-top:5%;
	
}

@media (max-width: 670px)
{
	#course-layout
	{
	width:100%;
	padding-top:20px;
	height: 2200px;
	position: relative;
	float: left;
	}
	#course-box
	{
	width: 95%;
	margin:auto;
	margin-top:5%;
	}
}
.course-box-learn
{
	width: 300px;
	height: 600px;
	margin-left:7%;
	float: left;
}

.course-icon
{
	width: 100%;
	height: 48%;
}
#course-icon>img
{
	width:100%;
	height: 100%;
}
.course-header
{
	width: 100%;
	text-align: center;
	height: 70px;
	padding-top: 10px;
}
.course-header>.n5>span
{
	color: #00bcd4;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-header>.n4>span
{
	color:#673ab7;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-header>.n3>span
{
	color: #e91e63;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-content
{

	width: 100%;
	height: 120px;
	text-align: justify;
}

.course-content>span
{
	font-size:13px;
	font-family: lato-regular;
}


.button-register
{

	margin: auto;
	margin-top: 10px;
	width: 50%;
	border-radius: 20px;
	text-align: center;
	padding: 10px 5px;
}
.button-register.regis-n5{background: #00bcd4;}
.button-register.regis-n4{background: #673ab7;}
.button-register.regis-n3{background: #e91e63;}


a.button-font
{
	color:white;
	font-size: 13px;
	font-family: Lato;
	text-decoration:none;
}

#book-layout
{
	margin-top: 100px;
	padding-top:50px;
	width: 100%;
	height: 600px;
	position: relative;
	float: left;
}

#book-layout-left
{
	width: 35%;
	height: 60%;
	margin-top: 50px;
	margin-left: 100px;
	float: left;
}

#book-layout-right
{
	width: 50%;
	height: 90%;
	margin-left:5%;
	position: relative;
	float: left;
}

#book-layout-right-middle-img
{
	width: 80%;
	height: 70%;
	position: absolute;
	top: 10%;
	left: 10%;
	background-image: url('../images/875c27f88aa8506dc976795e7db06910cfd2ccd0.jpg');
	background-size: 100% 100%;
	border-radius: 20px;
	position: relative;
}

#book-layout-right-top-img
{
	width: 30%;
	height: 20%;
	position: absolute;
	top:1px;
	left:1px;
	background-image: url("../images/e3c05783d7718cde5781783c4aea6837285589d5.jpg");
	background-size: 100% 100%;
	border-radius: 20px;
}

#book-layout-right-bot-img
{
	width: 30%;
	height: 20%;
	position: absolute;
	bottom: 10%;
	right: 1px;
	background-image: url('../images/mac-glasses.jpg');
	background-size: 100% 100%;
	border-radius: 20px;
}

#book-layout-right-icon
{
	width: 80px;
	height: 50px;
	position: absolute;
	top: 38%;
	left: 43%;
	background-color: #673ab7;
	border-radius: 40px;
}

#video-icon
{
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 23px;
}
#video-icon>span
{
	font-family: themify;
	font-size: 40px;
	color: #ffffff;
}
#book-layout-left-ul
{
	width:100%;
	height: 80%;
}
#book-layout-left-ul>ul
{
	list-style-type: none;
	text-align: left;
	line-height: 3em;
}

#book-layout-left-ul>ul>li>span
{
	color:#ffc107;
}

#book-layout-left-ul>ul>li>span>span
{
	color: #673ab7;
	font-size: 18px;
	font-family: vnf-quicksand;

}

.button-register-book
{
	margin-left: 10%;
	width: 30%;
	border-radius: 20px;
	text-align: center;
	background-color: #00bcd4;
	padding: 10px 5px;
}
.button-register-book>a{
	font-family: Lato;
	font-size: 14px;
}

#student
{
	margin-top:;
	width:100%;
	height: 690px;
	position: relative;
	display: table;
}

#student-function
{
	margin-top:15%;
	width: 90%;
	margin-left: 5%;
	margin-right: :5%;
	height: 300px;
}

.student-box
{
	width: 15%;
	height: 100%;
	margin-left:5%;
	float: left;
}

@media (max-width: 992px){
	.student-box{
		width: 30%;
	}
}
.student-circle {
	width: 160px;
	height: 160px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-left: 10px;
	background-image: url('../images/aa9fb3f352e89b54044977146d31604779c457d5.jpg');
	background-size: 100% 100%;

}

.student-header{
	width:100%;
	height: 30px;
	margin-top:50px;
	text-align: center;
}

.student-header>a{
	font-size: 15px;
	font-family: vnf-quicksand;
	text-decoration: none;
	color: black;
}

.student-header>a:hover
{
	color: red;
	text-decoration: initial;
}

#teacher
{
	width: 100%;
	height: 690px;
	display: flex;
}

#teacher-left
{	
	float: left;
	width: 50%;
	height: 690px;
	background: linear-gradient(
		to top,
		rgba(255,255,255,0),
		rgba(255,255,255,0),
		#ffffff 100%
		), url("../images/40a6147feea84e1e80734f5ae3d7429dac2ae702.jpg");
	background-size: cover;
}

#teacher-right
{	
	float: left;
	width: 50%;
	height: 690px;
}

#teacher-content
{
	width: 70%;
	height: 65%;
	margin-left: 15%;
	margin-top:15%;
	text-align: justify;
	position: relative;
}
#teacher-content>h2> span{
	font-family: vnf-quicksand;
}
#teacher-content>p
{
	font-family: 'lato-regular';
	font-size: 13px;
	letter-spacing: 1px;
}

.fill-teacher-reg-big
{
	width: 70px;
	height: 15px;
	position: absolute;
	left: -17%;
	top: 3.5%;
	background: #00bcd4;
	border-radius: 20px;
}
.fill-teacher-reg-small
{
	width: 35px;
	height: 15px;
	position: absolute;
	left: -9%;
	top: -2.5%;
	border-radius: 20px;
	background: #e91e63;
}
#fill-teacher-content-bot
{
	width: 170px;
	height: 15px;
	position: absolute;
	bottom: -12%;
	left: 0px;
}

@media (max-width: 768px){
	#teacher {
		height: 1200px;
		display: block;
	}
	#teacher-left {
		width: 100%;
	}
	#teacher-right {
		width: 100%;
	}
}

.img-circle
{
	border-radius: 50%;
}
#blog{
	width: 100%;
	height: 690px;
/*	margin-top: 50px;*/
	position: relative;
}
#blog-menu
{
	width:100%;
	height: 60px;
	background-color: #ffffff;
}
#blog-content
{
	width: 100%;
	height: 630px;
	position: relative;
	background-color: #f9f9f9;
}

#comment-top-left
{
	width: 40%;
	height: 30%;
	position: absolute;
	top:4%;
	left: 8%;
	position: relative;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 20px;
	box-shadow:20px 20px 40px 0 rgba(0, 0, 0, 0.2)
}
.fill-comment-reg-big
{
	width: 60px;
	height: 13px;
	position: absolute;
	left: -12%;
	top: 16%;
	border-radius: 20px;
}
#comment-top-left>.fill-comment-reg-big{background: #00bcd4; position: absolute; left: -10%;}
#comment-top-right>.fill-comment-reg-big{background: #f44336;}
#comment-bot-left >.fill-comment-reg-big{background: #673ab7;}
#comment-bot-right>.fill-comment-reg-big{background: #e91e63;}

.fill-comment-reg-small
{
	width: 30px;
	height: 13px;
	position: absolute;
	left: -5%;
	top: 7%;
	border-radius: 20px;
}

#comment-top-left>.fill-comment-reg-small{background: #e91e63;}
#comment-top-right>.fill-comment-reg-small{background: #ffc107;}
#comment-bot-left>.fill-comment-reg-small{background: #ffc107;}
#comment-bot-right>.fill-comment-reg-small{background: #b1d136;}


#comment-top-right{
	width:30%;
	height: 25%;
	position: absolute;
	top:12%;
	right:8%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 20px;
}

#comment-bot-left
{
	width: 30%;
	height: 25%;
	position: absolute;
	bottom: 13%;
	left:17%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 15px;
}

#comment-bot-right{
	width: 30%;
	height: 23%;
	position: absolute;
	bottom: 13%;
	right:8%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 15px;
}

.img-comment
{	width: 80px;
	height: 70px;
	position: absolute;
	right: 30px; 
	bottom: -35px;
}
.img-comment>img
{
	width: 100%;
}

.name-box
{
	width: 130px;
	height: 35px;
	position: absolute;
	right: 130px;
	bottom: 5px;
	text-align: right;
}

.name-box>span
{
	font-family: lato-regular;
	font-size:10px;
}

.name-box>span>span
{
	font-family: lato-Italic;
}

.comment-font
{
	font-family: lato-regular;
	font-size:12.5px;
}

#contact
{
	width: 100%;
	position: relative;
	display: flex;
}

#contact-left
{
	height: 690px;
	width: 50%;
	float: left;
}

#contact-right
{
	height: 690px;
	width: 50%;
}
#contact-right>iframe
{
	width: 100%;
	height: 690px;
}

#input-box
{
	width:50%;
	margin-left: 30%;
	margin-top: 18%;
	height: 70%;
	position: relative;
}


#input-header
{
	width: 100%;
	height: 50px;
	border-radius:15px;
}

.input-sub-box
{
	margin-top: 5%;
	width: 100%;
	height: 25px;
	border: 2px solid #00bcd4;
	border-radius:15px;
	position: relative;
	display: inline-block;
}
.input-sub-box:hover
{
	border: 1px solid #673ab7 ;
	box-shadow: 0 0 5px 0 #673ab7;

}


.input-sub-box input,
.input-sub-box textarea
{
	width: 90%;
	height: 90%;
	border:none;
	margin-left:30px;
	border-radius: 15px;
	font-family: lato-regular;

}
#simple-lines-icon-arow-down
{
	position: absolute;
	right: 8px;
	top:4px;
	color: #00bcd4;
}

.input-sub-box>span
{
	position: absolute;
	top: 3px;
	left: 5px;
	color: #00bcd4;
}

#input-content
{
	width: 100%;
	height: 130px;
	margin-top: 5%;
	border-radius: 15px;
	border: 1px solid #00bcd4;
	position: relative;
}
#input-content input,
#input-content textarea
{
	position: absolute;
	top: 1px;
	width: 89%;
	height: 90%;
	margin-left:28px;
	border-radius: 15px;
	font-family: lato-regular;
	border:none;

}

textarea:focus, input:focus{
	outline:none;
}

#input-content>span
{
	position: absolute;
	left: 5px;
	top: 5px;
	color: #00bcd4;
}

#input-content:hover
{
	border: 2px solid #673ab7 ;
	box-shadow: 0 0 10px 0 #673ab7;
}
#input-button
{
	float:right;
	width: 36%;
	height: 7.5%;
	margin-top: 7%;
	border:1px solid #00bcd4;
	border-radius: 15px;
	background: #00bcd4;
	padding: 5px 5px;
}
input[value]
{
	color: white;
	font-family: lato-regular;
	font-size: 14px;
}
#input-button:hover
{
	border: 1px solid #673ab7;
}
#input-header>span
{
	font-family: vnf-quicksand;
	font-size: 28px;
	color: #00bcd4;
}

input[placeholder]{
	font-family: lato-regular;
}

#input-content>textarea[placeholder]
{
	font-family: lato-regular;
}

#last-layout
{
	width: 100%;
	height: 640px;
	background: #00bcd4;
	position: relative;
}

#last-layout-logo
{
	width: 100%;
	height: 180px;
	position: relative;
}

#hapo-logo
{
	position: absolute;
	left:40%; 
	width: 15%;
	height: 40%;
	top: 25%;
}
#hapo-logo>img
{
	height: 100%;
	width: 100%
}

#last-layout-left
{
	width: 66%;
	height: 460px;
	margin-left: 3%;
	position: relative;
	float:left;
}

#last-menu
{
	width: 100%;
	height: 45%;
}

.last-menu-cols
{
	width: 12.4%;
	margin-left: 1.5%;
	height: 100%;
	float:left;
	position: relative;
}

#last-set
{
	width: 100%;
	height: 5%;
	margin-top: 3%;
}

#last-icon
{
	width: 100%;
	height: 7%;
	margin-top: 8%;

}

#copyright
{
	width: 100%;
	height: 5%;
	margin-top: 6%;
	user-select:none;
}

#last-layout-right
{
	width: 29%;
	height: 400px;
	float:left;
	position: relative;
	
}

.last-menu-cols>.text-menu>a
{
	line-height: 10%;
	font-size: 13px;
	text-decoration: none;
	color: white;
	font-family: lato-regular;
}
.last-menu-cols>.text-menu>a:hover
{
	text-decoration-style: none;
	color: red;
}
.last-menu-header
{
	width: 98%;
	height: 10%;
	padding-top:10px;
	padding-bottom: 12px;
}

.last-menu-header>span
{
	font-family: lato-regular;
	font-size:16px;
	color: white;
	font-weight: bold;
}

.text-menu
{
	width: 98%;
	height: 8%;
	margin-top: 8%;
}

.icon-box
{
	width: 40px;
	height: 30px;
	margin-left:1.5%;
	float: left;
	margin-top: 10px;	
}
 .icon-box>a
 {
 	color: #ffffff;
 	font-style: 16px;
 	text-decoration:none;
 }

 .icon-box>a:hover
 {
 	text-decoration-style: none;
 	color: #333;

 }
.set-box
{
	margin-top: 5px;
	width:40px;
	height: 100%;
	margin-left: 15px;
	float: left;
}

.set-box>span
{
	color:#ffffff;
	font-size: 12px;
	font-family: lato-regular;
}

#copyright>span
{
	color: #ffffff;
	font-size: 14px;
	font-family: lato-regular;
}

#plugin-facebook
{
	width: 100%;
	height: 400px;
	position: absolute;
}

#plugin-facebook>iframe
{
	 width : 390px;
	 height: 430px; 
}
