@font-face
{
	font-family: "Lato";
	src: url("../fonts/Lato-Black.ttf");
}
@font-face
{
	font-family: "Lato-Regular";
	src: url('../fonts/Lato-Regular.ttf');
}
@font-face
{
	font-family: "lato-Italic";
	src: url("../fonts/Lato-Italic.ttf");
}
@font-face
{
	font-family: "vnf-quicksand";
	src: url('../fonts/vnf-quicksand-bold.ttf');
}

body{
	background: #fff;
	color:333;
}

@media (min-width: 320px)and (max-width: 768px){
	body{
		background: #e7e7e7;
		/*width: 320px;*/

	}
}

@media (min-width: 770px ){}
#layout
{
	width:1280px;
	height:720px;	
}
#layout1
{
	display: flex;
	position: relative;
}
#left
{
	width: 50%;
	height: 720px;
}

#right
{
	width: 50%;
	height:720px;
	background-image: url('../fonts/slide-section1.jpg');
	background-repeat: no-repeat;
}

.menu
{
	width:100%;
	height:60px;
	position: absolute;
	position: fixed;
	top: 3px;
	display: flex;
}

.menu-left
{
	display: flex;
	height:60px;
	width: 50%;
/*	border: 1px solid black;
*/	top: 3px;
}
.menu-right
{
	display: flex;
	height:60px;
	width: 50%;
	position: relative;
	top: 3px;
}

#icon-hapo
{
	width: 12%;
	height: 50px;
	margin: 5px;
/*	border: 1px solid blue;
*/	background-image: url('../fonts/logo.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.nav-menu
{
	width: 9%;
	height: 40px;
	padding-top: 20px;
	margin-left:10px;
/*	 black;
*/	text-align: center;
}

.nav-menu>a
{
	font-family: 'Lato';
	font-size: 0.6em;
	color:#673ab7;
	text-align: center;
	text-decoration: none; 	
}

#login-user
{
	width: 20%;
	height: 40px;
	padding-top: 20px;
	margin-left:60%;
	margin-top: 2%;
	padding-top: 10px;
	text-align: center;
	border-radius:20px;
}
#login-user>a
{
	font-family:Lato;
	font-size: 16px;
	text-decoration: none;
	color: #00bcd4;
}
#register-user
{
	width: 17%;
	height: 55%;
	border-radius: 20px;
	margin-top:2%;
	padding-top: 1%;
	background-color: #00bcd4;
	text-align: center;
}
#register-user>a
{
	font-family: Lato;
	font-size:16px;
	color:#ffffff;
	text-decoration: none;
}

.nav-menu>a:hover
{
	color: red;
	text-decoration:none;
}

#content
{
	width: 60%;
	height: 90%;
	margin-left: 25%;
	margin-top:12%;
}

#img-hapojc
{
	width: 55%;
	height: 90px;
	background-image: url('../fonts/logo.png');
	background-size: 100% 100%;
}

#content1
{
	width: 100%;
	height: 150px;
	margin-top: 30px;
	letter-spacing: 0.2px;
}
span#Summer{
	color: #00bcd4;
	font-size: 31px;
	font-family: vnf-quicksand;
}

#content2
{
	width: 100%;
	height: 120px;
	margin-top: 40px;
	text-align:justify;
	letter-spacing: 0.05em;
}
#content2>span
{
	font-family: Lato;
	color:#673ab7;
	font-size: 12px;
}

#Select
{
	width: 80%;
	height: 60px;
	margin-top: 20px;
	display: flex;
}

#next
{
	width: 40%;
	height: 30px;
	border:2px solid;
	padding-top:10px;
	text-align: center;
	border-radius: 20px;
	border-color: #673ab7;
}
#next>a
{
	font-family: Lato;
	color: #673ab7;
	font-size: 13px;
	text-decoration: none;
}

#learn
{
	width: 60%;
	height: 30px;
	margin-left: 10%;
	text-align: center;
	padding-top: 10px;
	border: 2px solid #673ab7;
	border-radius: 20px;
	background-color: #e91e63;
}
#learn>a
{
	font-family: Lato;
	color: #ffffff;
	font-size: 13px;
	text-decoration: none;
}


#bot-support
{
	width: 95%;
	height:60px;
	position: relative;
	position: absolute;
	position: fixed;
	bottom: 20px;
}

#support
{
	width:8%;
	height: 50%;
	margin-left: 95%;
	border-radius: 20px;
	background-color: yellow;
	text-align: center;
	padding-top:10px;
}

#support>a:hover
{
	color: red;
	text-decoration: none;
}
#support>a
{
	text-decoration: none;
}
#support>a>span
{
	font-family: Lato;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}

#course-layout
{
	width:100%;
	height: 550px;
}

#course-box
{
	width: 95%;
	margin:auto;
	margin-top:10%;
	height: 80%;
	display: flex;
}

.course-box-learn
{
	width: 250px;
	height: 100%;
	margin-left:10%;
}

#course-icon-n5
{
	width: 250px;
	height: 45%;
	background-image: url("../fonts/N5.png");
	background-size: 100% 100%;
}

#course-icon-n4
{
	width: 250px;
	height: 45%;
	background-image: url("../fonts/N4.png");
	background-size: 100% 100%;
}

#course-icon-n3
{
	width: 250px;
	height: 45%;
	background-image: url("../fonts/N3.png");
	background-size: 100% 100%;
}

.course-header
{
	margin-top: 1px;
	width: 250px;
	text-align: center;
	height: 50px;
	padding-top: 10px;
}
.course-header>.n5>span
{
	color: #00bcd4;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-header>.n4>span
{
	color:#673ab7;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-header>.n3>span
{
	color: #e91e63;
	font-family: vnf-quicksand;
	font-size: 22px;
}

.course-content
{
	width: 100%;
	height: 120px;
	text-align: justify;
}

.course-content>span
{
	font-size:13px;
	font-family: Lato;
}

.button-register-n5
{
	margin: auto;
	width: 50%;
	height: 25px;
	border-radius: 20px;
	text-align: center;
	background-color: #00bcd4;
	padding: 10px;
}

.button-register-n4
{
	margin: auto;
	width: 50%;
	height: 25px;
	border-radius: 20px;
	text-align: center;
	background-color: #673ab7;
	padding: 10px;
}

.button-register-n3
{
	margin: auto;
	width: 50%;
	height: 25px;
	border-radius: 20px;
	text-align: center;
	background-color: #e91e63;
	padding: 10px;

}

a.button-font
{
	color:white;
	font-size: 13px;
	font-family: Lato;
	text-decoration:none;
}

#book-layout
{
	margin-top:100px;
	width: 100%;
	height: 600px;
/*	position: relative;
*/	display:flex;
}

#book-layout-left
{
	width: 35%;
	height: 60%;
	margin-top: 50px;
	margin-left: 100px;
}

#book-layout-right
{
	width: 50%;
	height: 90%;
	margin-left:5%;
	position: relative;
}

#book-layout-right-middle-img
{
	width: 80%;
	height: 70%;
	position: absolute;
	top: 10%;
	left: 10%;
	background-image: url('../images/875c27f88aa8506dc976795e7db06910cfd2ccd0.png');
	background-size: 100% 100%;
	border-radius: 20px;
	position: relative;
}

#book-layout-right-top-img
{
	width: 30%;
	height: 20%;
	position: absolute;
	top:1px;
	left:1px;
	background-image: url("../images/e3c05783d7718cde5781783c4aea6837285589d5.png");
	background-size: 100% 100%;
	border-radius: 20px;
}

#book-layout-right-bot-img
{
	width: 30%;
	height: 20%;
	position: absolute;
	bottom: 10%;
	right: 1px;
	background-image: url('../images/mac-glasses.jpg');
	background-size: 100% 100%;
	border-radius: 20px;
}

#book-layout-right-icon
{
	width: 15%;
	height: 10%;
	position: absolute;
	top: 38%;
	left: 43%;
	background-color: #673ab7;
	border-radius: 20px;
}

#book-layout-left-ul
{
	width:100%;
	height: 80%;
}
#book-layout-left-ul>ul
{
	list-style-type: none;
	text-align: left;
	line-height: 3em;
}

#book-layout-left-ul>ul>li>span
{
	color:#ffc107;
}

#book-layout-left-ul>ul>li>span>span
{
	color: #673ab7;
	font-size: 16px;
	font-family: vnf-quicksand;

}

.button-register-book
{
	margin-left: 10%;
	width: 30%;
	height: 25px;
	border-radius: 20px;
	text-align: center;
	background-color: #00bcd4;
	padding: 10px;
}
.button-register-book>a{
	font-family: Lato;
	font-size: 14px;
}

#student
{
	margin-top:;
	width:100%;
	/*height: 600px;*/
	position: relative;
	display: table;
}

#student-function
{
	margin-top:200px;
	width: 90%;
	margin-left: 5%;
	margin-right: :5%;
	height: 300px;
/*	position: relative;
/**/	
	/*display: flex;*/

}

.student-box
{
	width: 15%;
	height: 100%;
	margin-left:5%;
	float: left;
}

@media (max-width: 992px){
	.student-box{
		width: 40%;
	}
}
.student-circle {
	width: 150px;
	height: 150px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-left: 10px;
	background-image: url('../images/aa9fb3f352e89b54044977146d31604779c457d5.png');
	background-size: 100% 100%;

}

.student-header{
	width:100%;
	height: 30px;
	margin-top:50px;
	text-align: center;
}

.student-header>a{
	font-size: 14px;
	font-family: vnf-quicksand;
	text-decoration: none;
	color: black;
}

.student-header>a:hover
{
	color: red;
	text-decoration: initial;
}

#teacher
{
	width: 100%;
	margin-top: 150px;
	display: flex;

}

#teacher-left
{	
	float: left;
	width: 50%;
	height: 640px;
	background: linear-gradient(
		to top,
		rgba(255,255,255,0),
		rgba(255,255,255,0),
		#ffffff 100%
		), url("../images/40a6147feea84e1e80734f5ae3d7429dac2ae702.png");
}

#teacher-right
{	
	float: left;
	width: 50%;
	height: 600px;
}

#teacher-content
{
	width: 70%;
	height: 65%;
	margin-left: 15%;
	margin-top:15%;
	text-align: justify;
}
@media (max-width: 768px){
	#teacher {
		height: 1200px;
		display: block;
	}
	#teacher-left {
		width: 100%;
	}
	#teacher-right {
		width: 100%;
	}
}
#teacher-content>h2> span{
	font-family: vnf-quicksand;
}
#teacher-content>p
{
	font-family: 'lato-Italic';
	font-size: 13px;
	letter-spacing: 1px;
}

.img-circle
{
	border-radius: 50%;
}
#blog{
	width: 100%;
	height: 630px;
	margin-top: 50px;
	position: relative;
}
#blog-menu
{
	width:100%;
	height: 60px;
	background-color: #ffffff;
}
#blog-content
{
	width: 100%;
	height: 570px;
	position: relative;
	background-color: #f9f9f9;
}

#comment1
{
	width: 40%;
	height: 35%;
	position: absolute;
	top:8%;
	left: 5%;
	position: relative;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 5px;
}

#comment2{
	width:35%;
	height: 30%;
	position: absolute;
	top:18%;
	right:8%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 5px;
}

#comment3
{
	width: 35%;
	height: 30%;
	position: absolute;
	bottom: 13%;
	left:12%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 5px;
}

#comment4{
	width: 32%;
	height: 26%;
	position: absolute;
	bottom: 13%;
	right:11%;
	border-radius: 20px;
	text-align: justify;
	background-color: #ffffff;
	padding: 5px;
}
/*@media (max-width: 992px){
	#comment1{
		width: 100%;
		display: table;
	}
	#comment2{
		width: 100%;
	}
	#comment3{
		width: 100%;
	}
	#comment4{
		width: 100%;
	}
}*/
.img1
{	width: 80px;
	height: 70px;
	position: absolute;
	right: 30px; 
	bottom: -35px;
}

.name-box
{
	width: 130px;
	height: 35px;
	position: absolute;
	right: 130px;
	bottom: 5px;
	text-align: right;
}

.name-box>span
{
	font-family: Lato-Regular;
	font-size:10px;
}

.name-box>span>span
{
	font-family: lato-Italic;
}

.comment-font
{
	font-family: Lato-Regular;
	font-size:11px;
}

#contact
{
	width: 100%;
	border:solid black;
	position: relative;
	margin-top: 50px;
	display: flex;
}

#contact-left
{
	height: 650px;
	width: 50%;
	border: solid black;
	float: left;
}

#contact-right
{
	height: 650px;
	width: 50%;
	border: solid black;
}
#input-header
{
	width: 100%;
	height: 12%;
	border: solid black;
	border-radius:15px;
}

.input-sub-box
{
	margin-top: 5%;
	width: 100%;
	height: 5%;
	border: solid black;
	border-radius:15px;
}

#input-box
{
	width:50%;
	margin-left: 30%;
	margin-top: 18%;
	height: 70%;
	border: solid black;
	position: relative;

}

#input-content
{
	width: 100%;
	height: 25%;
	margin-top: 5%;
	border: solid black;
	border-radius: 15px;
}

#input-button
{
	width: 30%;
	height: 5%;
	margin-top: 7%;
	border:solid black;
	border-radius: 15px;
	margin-left: 70%;
}