@font-face
{
	font-family: 'themify';
	src: url('../fonts/themify.ttf');

}
@font-face
{
	font-family: "Lato";
	src: url("../fonts/Lato-Black.ttf");
}
@font-face
{
	font-family: "lato-regular";
	src: url('../fonts/Lato-Regular.ttf');
}
@font-face
{
	font-family: "lato-Italic";
	src: url("../fonts/Lato-Italic.ttf");
}
@font-face
{
	font-family: "vnf-quicksand";
	src: url('../fonts/vnf-quicksand-bold.ttf');
}

body
{
	width: 1910px;
	border: none;
	font-size: 16px;
	font-family: lato-regular;
}

img
{
	width: 100%;
	height: 100%;
}

.layout
{
	width: 1910px;
	height: 1080px;
}